body
{
	font-family:verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-size:12px;
	color:#333;
	line-height:18px;
	margin:0;
}
a
{
	color:#385F95;
	text-decoration:none;
	border-bottom:1px dotted #DDD;
}
a:hover
{
	color:#839c5a;
	border-bottom-color:#AAA;
}
a img
{
	border:0;
}
h1
{
	background:url(/img/logo.gif) no-repeat;
	height:30px;
	width:128px;
	position:relative;
	left:15px;
	top:10px;
}
h2
{
	color:#385F95;
	font-size:14px;
	margin:4px 0 10px 0;
	text-transform:uppercase;
	letter-spacing:1px;
}
h3
{
	margin:15px 0 3px 0;
	font-size:14px;
	padding:0 0 3px 3px;
	border-bottom:1px solid #c4d5a9;
}
dl
{
	display: block;
	margin:0 15px;
}
dt
{
	clear:   left;
	display:  block;
	font-weight: bold;
	float:   left;
	width:   150px;
	padding:4px 2px;
}
dd
{
	clear:   right;
	padding:4px 2px;
	display:  block;
	white-space: nowrap;
}
dd:after
{
	content:".";
	visibility:hidden;
}
strong
{
	color:#839c5a; /* brighter 93cf36*/
}
#container
{
	margin:auto;
	text-align:left;
	max-width:960px;
	min-width:730px;
	background:url(/img/container_bg.gif) no-repeat bottom right;
	padding:45px 15px 30px 0;
	position:relative;
}
#header
{
	height:50px;
	position:relative;
	margin-left:10px;
}
#header a
{
	border:0;
}
#header h1
{
	margin:0;
}
#menu
{
	position:absolute;
	right:0;
	top:15px;
}
#menu ul
{
	list-style:none;
	margin:0 10px 0 0;
	padding:0;
}
#menu li
{
	margin:0;
	padding:0;
	float:left;
}
#menu li a
{
	padding:10px 10px 20px 10px;
	text-decoration:none;
	border:0;
	color:#777;
	font-size:12px;
}
#menu li a.active
{
	color:#385F95;
	background:#EEE;
}
#menu li a:hover
{
	color:#385F95;
	background:#EEE;
}
#bar
{
	background:#b0b0b0;
	height:12px;
	position:relative;
	margin-left:13px;
}
#content
{
	padding:15px 15px 15px 30px;
	background:url(/img/content_bg.gif) no-repeat;
}
#column
{
	float:right;
	width:25%;
}
#column h5
{
	margin:0;
	font-size:9px;
	padding:1px 5px;
	background:url(/img/td_bg.gif) repeat-x 1px 1px;
	border:1px solid #DDD;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
	color:#777;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#column h5 a.reset
{
	float:right;
	color:#999;
	border:0;
	background:url(/img/cross.png);
	height:16px;
	width:16px;
}
#main
{
	float:left;
	width:73%;
	padding-right:12px;
}
#footer
{
	background:#EEE;
	height:15px;
	display:none;
}
#loadingIndicator
{
	position:absolute;
	top:0;
	left:0;
	font-size:14px;
	background:#F4F4F4;
	border-bottom:1px solid #CCC;
	padding:10px 15px 5px 15px;
	margin-left:15px;
}
#closeBox
{
	position:absolute;
	top:0;
	right:2px;
	font-size:9px;
	text-transform:uppercase;
	color:#888;
}
#closeBox:hover
{
	color:#666;
	background:none;
}
.chartBG
{
	width:120px;
	border:1px solid #777;
	display:inline-block;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#EFEFEF;
	position:relative;
}
.chartFG
{
	display:inline-block;
	background:#9ec1ef;
	height:16px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#content .chartBG p
{
	margin:0;
	color:#FFF;
	line-height:10px;
	font-size:10px;
	position:absolute;
	left:6px;
	top:3px;
	display:none;
}
#content .chartFG p
{
	margin:0;
	color:#333;
	line-height:10px;
	font-size:10px;
	position:absolute;
	left:5px;
	top:3px;
	display:block;
}
#UserPaging
{
	margin-top:15px;
}
#pagination
{
	padding:5px;
	text-align:center;
	margin:10px 0;
}
#pagination div
{
	margin:5px 0;
	text-align:center;
	font-size:10px;
}
.pagination
{
	text-align:center;
	font-size:9px;
	float:right;
	text-align:center;
	width:25%;
}
.pagination .current, #pagination .current
{
	padding:2px 5px;
	color:#839c5a;
	font-weight:bold;
	vertical-align:bottom;
}
.pagination a, #pagination a
{
	padding:4px;
	background:#777;
	color:#FFF;
	text-transform:uppercase;
	font-size:9px;
	border:0;
}
.pagination a span, #pagination a span
{
	color:#93cf36;
	font-size:12px;
	font-weight:bold;
}
.pagination .disabled span, #pagination .disabled span
{
	color:#839c5a;
	font-size:12px;
	font-weight:bold;
}
.disabled
{
	display:inline;
	font-size:12px;
}
.pagination .disabled, #pagination .disabled
{
	padding:4px;
	color:#999;
	text-transform:uppercase;
	font-size:9px;
	border:0;
	display:inline;
}
.message, #flashMessage
{
	font-size:15px;
	font-weight:bold;
	position:relative;
	margin-bottom:10px;
}
.message p
{
	color:#333;
	padding:10px 10px 10px 30px;
	margin:0;
}
.message .error
{
	background:#f2eed4 url(/img/error.png) no-repeat 8px 10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #d3ca8c;
}
.message .info
{
	background:#dde3ea url(/img/information.png) no-repeat 8px 11px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #aec7e3;
}
.message .success
{
	background:#d8f2d4 url(/img/accept.png) no-repeat 8px 11px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #a0cd99;
}
.clear
{
	clear:both;
}
.JSRequired
{
	display:none;
}
.high
{
	color:#FF0000;
}
.medium
{
	color:#FF9900;
}
.low
{
	color:#00CC00;
}
.box
{
	line-height:14px;
	text-align:justify;
	color:#666;
	font-size:10px;
	padding:4px 6px;
	margin:0 0 8px 0;
	border-top:2px solid #93cf36;
}

h5 .helpControl
{
	margin:1px 0 0 0;
}
.helpControl
{
	float:right;
	background:url(/img/help.png);
	height:16px;
	width:16px;
	border:0;
}
#folder
{
	margin-top:0;
	font-size:9px;
	padding:1px 5px;
	background:url(/img/td_bg.gif) repeat-x 1px 1px;
	border:1px solid #DDD;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
	color:#777;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}