.topRight, .topLeft, .bottomRight, .bottomLeft
{
	width:6px;
	height:6px;
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	padding:0;
}

#header .topRight, #header .topLeft, #footer .bottomLeft, #footer .bottomRight
{
	background-image:url(/img/container_bg.gif);
}
.topRight
{
	right:0;
	top:0;
	background-position:top right;
}
.topLeft
{
	left:0;
	top:0;
	background-position:top left;
}
.bottomLeft
{
	bottom:0;
	left:0;
	background-position:bottom left;
}
.bottomRight
{
	bottom:0;
	right:0;
	background-position:bottom right;
}
#content .bottomLeft, #content .bottomRight
{
	background-image:url(/img/content_bg.gif);
}
#menu a .topLeft, #menu a .topRight
{
	background-image:none;
}
#menu a.active .topLeft, #menu a.active .topRight, #menu a:hover .topLeft, #menu a:hover .topRight
{
	background-image:url(/img/menu_item_bg.gif);
}