form
{
	margin:0;
	padding:0;
}
fieldset 
{
	margin: 2em -1px;
	padding:2em 1em;
	background:#f5e1c9;
	background:#f0d5b6;
	border:0;
	/*border-top:2px solid #F56C1E;*/
	position:relative;
	border-top:2px solid #dcb990;
	border-bottom:2px solid #dcb990;
}
fieldset .message
{
	background:#f8eddf url(/img/box_bg.gif) repeat;
	border-left:2px solid #F56C1E;
	display:block;
	margin:0 0 20px 0;
	position:relative;
}
fieldset .message .error, fieldset .message .info, fieldset .message .success
{
	background-color:transparent;
}
/* IE hack */
html html fieldset
{ 
	position: relative; 
}
html legend
{ 
	position:absolute; top: -.5em; left: .5em; 
}
html fieldset
{ 
	position: relative; margin-top:1em; padding-top:.75em; 
}
/* End hack */
form
{
	margin-left:10px;
	margin-right:10px;
}
fieldset form
{
	margin-top:15px;
}
form p 
{

}
/* style for  labels */
fieldset label
{
	float:left;
	display:block;
	width: 12em;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:1px;
	font-size:14px;
	font-weight:bold;
}
/* style for required labels */
label.required 
{
}
/* style for optional labels */
label.optional:after
{
	font-size:80%;
	color:#666;
	content:"(optional)";
}
/* :KLUDGE: Explicitly set the width for IE6- */
* html.feedback
{
	width: 10em;
}
input 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:3px 4px 2px 3px;
}
.input.file
{
	margin-bottom:12px;
}
input[type="text"], textarea, input[type="password"], input[type="file"]
{
	width:200px;
	padding:2px;
}
fieldset input[type="submit"]
{
	background:#F56C1E;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding:2px 4px;
	border:2px solid #fff;
	margin-left:173px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#F56C1E;
}
fieldset input[type="submit"]:active
{
	border-width:3px;
	padding:1px 3px;
}
fieldset input[type="submit"]:hover
{
}
fieldset input[disabled]
{
	color:#777;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #DDD;
	background:#F3F3F3;
	font-weight:bold;
}
input[type="text"]:focus, textarea:focus, input[type="password"]:focus
{
	font-weight:bold;
}
textarea 
{
	width: 350px;
	height: 200px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:4px;
}
select
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.helpBox
{
	width:200px;
	background:#93CBEC;
	padding:3px;
	position:absolute;
	left:200px;
	margin-top:-35px;
}
.helpBox p
{
	color:#FFF;
	font-size:11px;
	margin:0;
	line-height:normal;
}
.error-message
{
	display:inline;
	margin:0 0 0 5px;
	font-size:smaller;
	background:url(/img/error.png) no-repeat 0 0;
	padding:3px 0 1px 20px;
}
.radio
{
	display:inline;
}
.submit
{
	display:inline;
}
.input
{
	padding-left:5px;
	color:#555;
	margin-bottom:8px;
}
.input label:after
{
	/*content:" (optional)";*/
	color:#888;
	font-size:smaller;
}
.input.required label:after
{
	content:" *";
	color:#F56C1E;
	font-size:smaller;
}
.input.required
{
	color:#000;
}
.input.required.error
{
}
.input.required.error label
{
	font-weight:bold;
}
form .help
{
	font-size:9px;
	padding:0 0 0 20px;
	display:block;
	margin:-4px 0 0 0;
	color:#555;
	background:url(/img/information.png) no-repeat 0 1px;
}
fieldset.compact .error-message
{
	position:absolute;
	top:0;
	right:0;
}
fieldset.compact legend
{
	font-weight:bold;
	color:#777;
	background:#FFF;
	text-transform:uppercase;
	font-size:9px;
	padding:2px 5px 0 5px;
	border-bottom:1px solid #777;
}
fieldset.compact form
{
	margin:0;
	padding:5px 2px 8px 2px;
}
fieldset.compact a.reset
{
	font-size:9px;
	text-transform:uppercase;
	color:#888;
	position:absolute;
	top:5px;
	right:5px;
}
fieldset.compact a.reset:hover
{
	background:none;
	color:#666;
}
fieldset.compact
{
	width:238px;
	float:left;
	padding:0;
	margin-bottom:15px;
	margin-top:5px;
	margin-left:8px;
	font-size:10px;
	border:none;
	height:125px;
}
fieldset.compact + fieldset.compact
{
	margin-left:8px;
}
fieldset.compact label
{
	float:none;
	margin:0;
	padding-bottom:1px;
}
fieldset.compact input
{
	margin-top:3px;
}
fieldset.compact input[type="submit"]
{
	padding:2px 2px 1px 2px;
	font-size:12px;
	margin:0 0 0 5px;
}
fieldset.compact input[type="submit"]:active
{
	padding:1px 1px 0 1px;
}
fieldset.compact input[type="text"], fieldset.compact input[type="file"]
{
	width:215px;
	margin-top:0;
}
fieldset.compact select
{
	max-width:150px;
}
form#deleteAllFiles
{
	font-size:10px;
}
form#deleteAllFiles input[type="checkbox"]
{
	position:relative;
	top:3px;
	margin-right:5px;
}
form#deleteAllFiles input[type="submit"]
{
	display:inline;
	margin:0 0 0 5px;
}
form#deleteAllFiles .submit
{
	display:inline;
}
.inplaceeditor-form input[type="submit"]
{
	padding:2px;
	border:1px solid #777;
	font-size:9px;
	text-transform:uppercase;
	margin:0 2px;
}
.inplaceeditor-form input[type="text"]
{
	padding:3px;
	border:1px solid #777;
	font-size:9px;
}
form table
{
	margin:0;
	width:100%;
}