#content
{
	position:static;
}
.topRight, .topLeft, .bottomLeft, .bottomRight
{
	display:none;
}
#menu a .topLeft
{
	left:-8px;
	display:block;
}
#menu a .topRight
{
	right:1px;
	display:block;
}
#footer
{
	background-position:3px 0;
	margin-bottom:-5px;
}