body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#E5E5E5;
}
h2
{
	color:#F56C1E;
	font-size:20px;
	font-weight:normal;
	padding:16px 8px 6px 8px;
	border-bottom:3px solid #DDD;
	margin:0 -1px 10px -1px;
	background:#EFEFEF;
}
h3
{
	color:#F56C1E;
	margin:15px 10px 5px 10px;
	border-bottom:1px solid #999;
	padding-bottom:3px;
	font-size:16px;
}
p, strong
{
	color:#444;
}
h1
{
	height:29px;
	width:169px;
	background:url(/img/logo.png) no-repeat;
	position:absolute;
	right:10px;
	top:15px;
	display:none;
}
a
{
	color:#333;
	font-weight:bold;
	padding:1px 0 1px 0;
	text-decoration:none;
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
}
a:hover
{
	background:#F56C1E;
	color:#FFF;
}
a img
{
	border:0;
}
a.img:hover
{
	background:none;
}
dl
{
	display: block;
	margin-left:15px;
	margin-right:15px;
	font-size:14px;
}
dt
{
	clear:   left;
	display:  block;
	font-weight: bold;
	float:   left;
	width:   150px;
	padding:4px 2px;
}
dd
{
	clear:   right;
	padding:4px 2px;
	display:  block;
	white-space: nowrap;
}
dd:after
{
	content:".";
	visibility:hidden;
}
applet
{
}
#content p
{
	margin-left:10px;
	margin-right:10px;
	line-height:18px;
}
#pagination a
{
	padding:2px 4px;
	margin-top:-2px;
	margin-bottom:-2px;
}
/* IDs */
#container
{
	width:756px;
	margin:50px auto 0 auto;
	background:#FFF;
	position:relative;
}
#content
{
	background:#FFF;
	padding:0 1px 1px 1px;
	position:relative;
	/*border-top:3px solid #5cdb39;*/
	border-left:3px solid #777;
	border-right:3px solid #777;
}
#content > h1, #content > h2
{
	/*margin-top:0;*/
}
#header
{
	background:#777 url(/img/header-bg.gif) no-repeat;
	padding-top:35px;
}
#menu
{
	padding-left:12px;
}
#menu ul
{
	padding:0;
	margin:0;
}
#menu li
{
	list-style:none;
	float:left;
}
#menu a
{
	display:block;
	padding:5px 8px 3px 8px;
	margin:0 2px 0 0;
	text-decoration:none;
	color:#555;
	font-weight:bold;
	font-size:16px;
	position:relative;
	-moz-border-radius:0;
	-moz-border-radius-topright:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-radius:0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	color:#FFF;
	text-transform:lowercase;
}
#menu a:hover, #menu a.active
{
	/*border-top:3px solid #F56C1E;*/
	color:#000;
	background:#EFEFEF;
}
#footer
{
	background:url(/img/footer-bg.gif) no-repeat;
	height:9px;
	width:756px;
/*	border-top:3px solid #F56C1E;*/
}
.message, #flashMessage
{
	background:#F3F3F3;
	margin:0 8px 5px 8px;
	position:relative;
	font-size:15px;
	font-weight:bold;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.message p
{
	color:#333;
}
#subMenu
{
	position:absolute;
	top:15px;
	right:7px;
	font-size:12px;
	color:#F56C1E;
}
#subMenu li
{
	margin:0;
	padding:0;
	list-style:none;
}
#subMenu a
{
	background:#F56C1E;
	color:#FFF;
	padding:4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #FFF;
	display:block;
	float:left;
	margin-left:3px;
}
#subMenu a:hover
{
	background:#FFF;
	color:#F56C1E;
	border: 2px solid #F56C1E;
}
#pagination
{
	margin:10px 0 5px 0;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
#loadingIndicator
{
	position:fixed;
	top:10px;
	left:10px;
	padding:6px 10px;
	background:#FFF;
	border:1px solid #CCC;
	font-size:14px;
	font-weight:bold;
}
#closeBox
{
	position:absolute;
	top:5px;
	right:5px;
	font-size:9px;
	text-transform:uppercase;
	color:#888;
}
#closeBox:hover
{
	color:#666;
	background:none;
}
/* Classes */
#pagination .current
{
	display:none;
}
#pagination .box
{
	padding:2px 0 2px 6px;
	background:#F3F3F3;
	display:inline;
	border:2px solid #DDD;
	line-height:30px;
}
#pagination .box + .box
{
	margin-left:5px;
}
#content .message p
{
	padding:10px 10px 10px 30px;
	margin:0;
}
.message .error
{
	background:#f2eed4 url(/img/error.png) no-repeat 8px 10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.message .info
{
	background:#EEE url(/img/information.png) no-repeat 8px 11px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.message .success
{
	background:#d8f2d4 url(/img/accept.png) no-repeat 8px 11px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.clear
{
	clear:both;
}
.menuItemLeft
{
	background:url(/img/menu_item.gif);
	height:8px;
	width:8px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.menuItemRight
{
	background:url(/img/menu_item.gif) top right;
	height:8px;
	width:8px;
	position:absolute;
	right:0;
	top:0;
	display:none;
}
#subMenu .disabled
{
	color:#777;
	padding:4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #DDD;
	display:block;
	float:left;
	margin-left:3px;
	font-weight:bold;
}
.JSRequired
{
	display:none;
}
.high
{
	color:#FF0000;
}
.medium
{
	color:#FF9900;
}
.low
{
	color:#00CC00;
}
.chartBG
{
	width:120px;
	border:1px solid #777;
	display:inline-block;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#F0D5B6;
	position:relative;
}
.chartFG
{
	display:inline-block;
	background:#F56C1E;
	height:16px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#content .chartBG p
{
	margin:0;
	color:#FFF;
	line-height:10px;
	font-size:10px;
	position:absolute;
	left:6px;
	top:3px;
	display:none;
}
#content .chartFG p
{
	margin:0;
	color:#333;
	line-height:10px;
	font-size:10px;
	position:absolute;
	left:5px;
	top:3px;
	display:block;
}