@charset "utf-8";
/* CSS Document */
body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	background:#EFEFEF;
}
h2
{
	color:#F56C1E;
	font-size:20px;
	font-weight:normal;
	padding:16px 8px 4px 8px;
	border-bottom:3px solid #DDD;
	margin:0 0 10px 0;
	background:#F3F3F3;
}
p, strong
{
	color:#444;
	font-stretch:expanded;
}
h1
{
	height:29px;
	width:169px;
	background:url(/img/logo.png) no-repeat;
	position:absolute;
	right:10px;
	top:15px;
	display:none;
}
a
{
	color:#333;
	font-weight:bold;
	padding:1px 0 1px 0;
	text-decoration:none;
}
a:hover
{
	background:#F56C1E;
	color:#FFF;
}
dl
{
	display: block;
	margin-left:15px;
	margin-right:15px;
	font-size:14px;
}
dt
{
	clear:   left;
	display:  block;
	font-weight: bold;
	float:   left;
	width:   150px;
	margin-bottom:8px;
}
dd
{
	clear:   right;
	margin-bottom:8px;
	display:  block;
	white-space: nowrap;
}
dd:after
{
	content:".";
	visibility:hidden;
}
applet
{
}
#content p
{
	margin-left:10px;
	margin-right:10px;
	line-height:18px;
}
.message p
{
	margin:0 0 0 0;
	padding:0;
}
#pagination a
{
	padding:2px 4px;
	margin-top:-2px;
	margin-bottom:-2px;
}
/* IDs */
#container
{
	width:756px;
	margin:50px auto 0 auto;
	background:#FFF;
	position:relative;
}
#content
{
	background:#FFF;
	padding:0 1px 1px 1px;
	position:relative;
	/*border-top:3px solid #5cdb39;*/
	border-left:3px solid #777;
	border-right:3px solid #777;
}
#content > h1, #content > h2
{
	/*margin-top:0;*/
}
#header
{
	background:#777 url(/img/header-bg.gif) no-repeat;
	padding-top:40px;
}
#menu
{
	padding-left:12px;
}
#menu ul
{
	padding:0;
	margin:0;
}
#menu li
{
	list-style:none;
	float:left;
}
#menu a
{
	display:block;
	padding:5px 8px 3px 8px;
	margin:0 2px 0 0;
	text-decoration:none;
	color:#555;
	font-weight:bold;
	font-size:16px;
	position:relative;
	-moz-border-radius-topright:6px;
	-moz-border-radius-topleft:6px;
	color:#FFF;
	text-transform:lowercase;
}
#menu a:hover, #menu a.active
{
	/*border-top:3px solid #F56C1E;*/
	color:#000;
	background:#F3F3F3;
}
#footer
{
	background:url(/img/footer-bg.gif) no-repeat;
	height:9px;
	width:756px;
/*	border-top:3px solid #F56C1E;*/
}
.message, #flashMessage
{
	padding:6px 15px;
	background:#EFEFEF;
	margin-bottom:10px;
}
#subMenu
{
	position:absolute;
	top:15px;
	right:7px;
	font-size:12px;
	color:#F56C1E;
}
#subMenu li
{
	margin:0;
	padding:0;
	list-style:none;
}
#subMenu a
{
	background:#F56C1E;
	color:#FFF;
	padding:4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #FFF;
	display:block;
	float:left;
	margin-left:3px;
}
#subMenu a:hover
{
	background:#FFF;
	color:#F56C1E;
	border: 2px solid #F56C1E;
}
#pagination
{
	margin:15px 0 10px 0;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
#loadingIndicator
{
	position:fixed;
	top:10px;
	left:10px;
	padding:6px 10px;
	background:#FFF;
	border:1px solid #CCC;
	font-size:14px;
	font-weight:bold;
}
/* Classes */
#pagination .current
{
	display:none;
}
#pagination .box
{
	padding:2px 0 2px 6px;
	background:#F3F3F3;
	display:inline;
	border:2px solid #DDD;
}
#pagination .box + .box
{
	margin-left:5px;
}
#flashMessage.error
{
	background:#EFEFEF url(/img/error.png) no-repeat 14px 5px;
	padding-left:35px;
}
.clear
{
	clear:both;
}
.menuItemLeft
{
	background:url(/img/menu_item.gif);
	height:8px;
	width:8px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.menuItemRight
{
	background:url(/img/menu_item.gif) top right;
	height:8px;
	width:8px;
	position:absolute;
	right:0;
	top:0;
	display:none;
}
#subMenu .disabled
{
	color:#777;
	padding:4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #DDD;
	display:block;
	float:left;
	margin-left:3px;
	font-weight:bold;
}