body
{
	font-family:verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-size:12px;
	color:#333;
	line-height:18px;
	margin:25px;
}
#container
{
	width:960px;
	margin:auto;
}
fieldset
{
	border:none;
}
a img
{
	border:0;
}
table
{
	width:100%;
}
.name
{
	width:300px;
}
#menu
{
	position:absolute;
	right:0;
	top:15px;
}
#menu ul
{
	list-style:none;
	margin:0 10px 0 0;
	padding:0;
}
#menu li
{
	margin:0;
	padding:0;
	float:left;
}
#menu li a
{
	padding:10px 10px 20px 10px;
	text-decoration:none;
	border:0;
	color:#777;
	font-size:12px;
}
#menu li a.active
{
	color:#385F95;
}
#menu li a:hover
{
	color:#385F95;
}