table
{
	width:97.5%;
	border-collapse:collapse;
	margin-left:10px;
}
table th
{
	padding:2px;
	font-weight:normal;
	margin:0;
	border-bottom:2px solid #F56C1E;
}
table td
{
	padding:3px;
	text-align:center;
}
table tr
{
	color:#444;
}
table tr p
{
	color:inherit;
}
table tr:hover td
{
	color:#000;
	background:#FAFAFA;
}
table th a
{
	color:inherit;
}
table th a:hover
{
	background-color:inherit;
	color:inherit;
}
table .checkbox
{
	padding-top:0;
	padding-bottom:0;
}
table #footer td
{
	background:#fff;
	font-size:10px;
	padding:5px;
	text-align:left;
}
table #footer input[type="checkbox"]
{
	margin:0;
}
table #footer input[type="submit"]
{
	padding:2px;
	border:1px solid #777;
	font-size:9px;
	text-transform:uppercase;
	margin:0 2px;
}
table #actions
{
	text-align:left;
}
#content table p
{
	margin:0;
}
table form, table form *
{
	margin:0;
	display:inline;
}
table td.name
{
	width:290px;
	text-align:left;
}
table td.type
{
	width:16px;
}