table
{
	width:97.5%;
	border-collapse:collapse;
	margin-left:10px;
}
table th
{
	padding:3px 2px;
	font-weight:normal;
	margin:0;
	border-bottom:2px solid #F56C1E;
	/*background:#F5E1C9;*/
}
table td
{
	padding:4px 2px;
	text-align:center;
	font-size:10px;
}
table tr
{
	color:#555;
}
table tr p
{
	color:inherit;
}
table tr:hover td
{
	color:#000;
	background:#FAFAFA;
}
table th a
{
	color:inherit;
}
table th a:hover
{
	background-color:inherit;
	color:inherit;
}
table .checkbox
{
	padding-top:0;
	padding-bottom:0;
	width:20px;
}
table input[type="checkbox"]
{
	top:0;
}
table #tableFooter td
{
	background:#fff;
	font-size:10px;
	text-align:left;
	/*border-top:2px solid #F56C1E;*/
	/*background:#F5E1C9;*/
}
table #tableFooter input[type="submit"]
{
	padding:2px;
	border:1px solid #777;
	font-size:9px;
	text-transform:uppercase;
	margin:0 2px;
	background:#F0F0F0;
	color:#222;
}
table #tableFooter select
{
	margin-left:5px;
}
table #tableFooter input[type="radio"]
{
	position:relative;
	top:2px;
}
table #actions
{
	text-align:left;
}
#content table p
{
	margin:0;
}
table form, table form *
{
	margin:0;
	display:inline;
}
table .name
{
	width:375px;
	max-width:375px;
	overflow:hidden;
	text-align:left;
	font-size:12px;
	color:#000;
}
table td.type
{
	width:16px;
}