/* CSS Document */

table
{
	width:98%;
	border-collapse:collapse;
	margin-left:10px;
}
table th
{
	color:#444;
	margin:2px;
	background:#777;
	padding:2px;
	color:#EFEFEF;
}
table td
{
	padding:2px;
	text-align:center;
	border-bottom:2px dotted #EEE;
	margin:2px;
}
table tr:hover
{
	background:#F5F5F5;
}
table th a
{
	color:#FFF;
	text-decoration:underline;
}
table th a:hover
{
	background-color:inherit;
}
table th.checkbox
{
}
table td.checkbox
{
}
table #footer td
{
	background:#EFEFEF;
	font-size:10px;
	padding:5px;
	border:0;
}
table #actions
{
	text-align:left;
}
table p
{
	margin:0;
}
table form, table form *
{
	margin:0;
	display:inline;
}